/.vs
/.vscode
/Binaries
/Build
/Saved
/Intermediate
/DerivedDataCache
/enc_temp_folder

/Plugins/OVRLipSync/Binaries
/Plugins/OVRLipSync/Intermediate
/Plugins/OVRLipSync/OfflineModel
/Plugins/OVRLipSync/ThirdParty


*.sln
*.code-workspace
.vsconfig

apikey.txt
